/* Sets the style for my hyperlinks */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 2%;
}

.container {
  padding-top: auto;
  max-width: 80%;
  margin: 0px auto 0px;
  background-color: white;
  border-radius: 20px;
  margin-top: 5%;
  padding-bottom: 5%;
}

.bodycontainer {
  max-width: 95%;
  background-color: lightgrey;
  margin: auto;
  border-radius: 20px;
  margin-top: 50px;
  padding-bottom: 8%;
}

nav {
  width: 100%;
  text-align: center;
  list-style: none;
  background-color: #92278e;
  border: 2px solid #92278e;
  border-radius: 20px;
  font-size: 35px;
  font-family: "Fjalla One", sans-serif;
  position: center;
}

nav li {
  text-align: center;
  display: inline-block;
  list-style: none;
  
}

/* Sets the style for the text inside the nav bar */
nav li a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border: 2px solid #92278e; 
  border-radius: 20px;
}

/* Sets the color to yellow when users hover over. */
nav li a:hover {
  color: #92278e;
  background-color: white; 
}

nav li.currentpage a {
  color: #92278e;
  background-color: white;
}

/* Styles my table by making it center and adjusting the size */

table {
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
  text-align: center;
  width: 65%;
}


/* Alligns my text and makes the boarder more bold. */

th, td {
  border: 2px solid black;
  text-align: center;
}



/* This sets the styling for my images for my pages*/

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12.4%;
  padding-top: 4%;
  padding-bottom: 3%;
}


h1 {
  color: #92278e;
  font-size: 20px;
  text-align: center;
  display: block;
  font-family: "Fjalla One", sans-serif;
  padding-top: auto;

}

/* table for name bday and age */
table {
  margin: 0 auto; /* Center the table horizontally */
  border-collapse: collapse;
  width: 80%; /* Adjust the width as per your preference */
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #0089d0;
}

tr:hover {
  background-color: #e0f2f8;
}

/* Optional: Add additional styles to enhance the professional look */
table {
  font-family: "Fjalla One", sans-serif;
}

table tr:first-child {
  color: white;
}

table tr:not(:first-child){
 color: black;
}

th, td {
  font-size: 14px;
}

.nomem {
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
  text-align: center;
}
.copyright {
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 3px;
}
.link {
  color: #92278e;
  text-decoration: none;
}


.grey-row {
    background-color: grey;
}
